<html>
<head>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Contact Management System</title>
</head>

<body>


</body>


</html>